/*
 Theme Name:           danslokalen-20ct
 Theme URI:            http://danslokalen.se/
 Description:          A child theme of Twenty Twenty WordPress theme.
 Author:               Karl Lettenström
 Author URI:           https://kprl.se
 Template:             twentytwenty
 Version:              1.1.0
 License:              GNU General Public License v2 or later
 License URI:          http://www.gnu.org/licenses/gpl-2.0.html
*/

@import "partials/variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: $base-font-family;
  &:not(.overlay-header) .primary-menu li .icon {
    color: #ffffff !important;
  }

  h1, .heading-size-1 {
    @media (min-width: 1220px) {
      font-size: 6.4rem;
    }
  }

  .frontpage-cover-block {
    position: absolute;
    top: 50%;
    z-index: 1;

    .frontpage-valkomsttext {
      margin: -100px auto 0px auto;
      width: 100%;
      font-size: 1.25em;
      font-weight: 700;
      letter-spacing: 1px;
      background: $color-danslokalen-opa-white;
      padding: 40px;
      border-radius: 5px;

      p {
        line-height: 1.4;
      }

      a {
        color: $color-danslokalen-complement !important;
      }
    }

    .frontpage-logotyp {
      margin-top: -100px;
      padding-left: 100px;
      img {
        max-height: 200px;
        width: auto;
      }
    }

    @media (min-width: 1025px) {

      .frontpage-valkomsttext {
        margin: -20px auto 0px auto;
        width: 70%;
        font-size: 1.25em;
        font-weight: 700;
        letter-spacing: 1px;
        background: none;
        padding: 0px;

        p {
          line-height: 1.4;
        }

        a {
          color: $color-danslokalen-complement !important;
        }
      }

      .frontpage-logotyp {
        margin-top: -150px;
        padding-left: 50px;
        img {
          max-height: 300px;
          width: auto;
        }
      }

    }

    @media (min-width: 1200px) {

      .frontpage-valkomsttext {
        margin: -20px auto 0px auto;
        width: 80%;
        font-size: 1.25em;
        font-weight: 700;
        letter-spacing: 1px;

        p {
          line-height: 1.4;
        }

        a {
          color: $color-danslokalen-complement !important;
        }
      }

      .frontpage-logotyp {
        margin-top: -150px;
        padding-left: 50px;
        img {
          max-height: 300px;
          width: auto;
        }
      }

    }

    @media (min-width: 1500px) {

      .frontpage-valkomsttext {
        margin: -75px auto 0px auto;
        width: 60%;
        font-size: 1.55em;
        font-weight: 700;
        letter-spacing: 1px;

        p {
          line-height: 1.4;
        }

        a {
          color: $color-danslokalen-complement !important;
        }
      }

      .frontpage-logotyp {
        margin-top: -250px;
        padding-left: 100px;
        img {
          max-height: 500px;
          width: auto;
        }
      }

    }

  }
}

#site-header {
	background-color: $color-danslokalen-main !important;

  a, .site-description, .toggle-text, &.toggle, body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon {
  	color: #ffffff !important;
  }

  .search-field {
    color: #ffffff !important;
  }

  .current-menu-item {
    a {
      color: $color-danslokalen-complement !important;
    }
    .sub-menu {
      .current-menu-item {
        a {
          color: $color-danslokalen-complement !important;
        }
      }
      a {
        color: #ffffff !important;
      }
    }
  }

  .primary-menu li {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 90%;
    .sub-menu {
      a {
        font-weight: 300;
        text-transform: none;
      }
    }
  }
}

.home {
  #site-header {
    transition-duration: 0.3s;
    background-color: transparent !important;

    &:hover {
      transition-duration: 0.3s;
      background-color: $color-danslokalen-main !important;
    }
  }
}

.content-area, #site-content {

  .entry-header {
    padding: 5em 0 2em !important;
    @media (max-width: 768px) {
      padding: 3em 0 1.3em !important;
    }
  }

  .entry-content {
    font-family: $base-font-family;

    p, ol, ul, dl, dt {
      font-family: $base-font-family;
    }

    h5 {
      margin: 5.5rem auto 1.5rem;
    }

    h3, h4, h5, h6 {
      a::before {
        content: '';
        display: block;
        height: 45px;
        margin-top: -45px;
        visibility: hidden;
      }
    }

    .ingress {
      margin-top: -5rem;
      font-weight: 400;
      text-align: center;
    }
  }

  .wp-block-cover {
    margin-top: -10rem;
  }

  .color-accent, .has-accent-color, .wp-block-button.is-style-outline, a {
    color: $color-danslokalen-main;
    &:focus, &:hover {
      color: $color-danslokalen-complement !important;
    }
  }

  button:not(.toggle), .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"], .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, .has-accent-background-color, .comment-reply-link,
  button, .single_add_to_cart_button {
    color: #ffffff !important;
    background-color: $color-danslokalen-main !important;
    &:focus, &:hover {
      background-color: $color-danslokalen-complement !important;
      color: #ffffff !important;
      border: none;
      text-decoration: none;
    }
  }

  #sb_instagram {
    a:hover {
      color: #ffffff !important;
    }
    .sb_instagram_header a:hover {
      color: $color-danslokalen-main !important;
    }
  }

  .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
  .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    max-width: none !important;
  }

  .woocommerce form .form-row label, .woocommerce-page form .form-row label,
  .woocommerce-input-wrapper {
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    .woocommerce-product-gallery, .product .summary {
        margin-bottom: 5rem;
    }
  }

  section.related.products {
    width: 100%;
    display: inline-block;
  }

  .woocommerce-error {
    color: $color-danslokalen-danger;
    border-top: 2px solid $color-danslokalen-danger;
    background: $color-danslokalen-lightgrey;
    li {
      width: 100%;
      margin: 0px;
      button {
        float:right;
      }
    }
  }

  .woocommerce-message {
    color: $color-danslokalen-main;
    border-top: 2px solid $color-danslokalen-main;
  }

  .woocommerce-info {
    color: $color-danslokalen-info;
    border-color: $color-danslokalen-info;
  }

  .added_to_cart {
    color: $color-danslokalen-info;
    padding: 10px;
    width: 100%;
    margin-top: 10px !important;
    &:hover {
      color: $color-danslokalen-grey;
    }
  }

  .woocommerce-tabs {
    ul {
      display: none;
      li.active a {
        color: $color-danslokalen-main !important;
      }
    }
  }

  .woocommerce-MyAccount-navigation-link--downloads {
    display: none;
  }

  .woocommerce-MyAccount-content {
    .woocommerce {
      padding: 0px;
    }
  }

  .wc_payment_method .payment_box {
    background: #fff;
  }

  .product_meta {
    display: inline-grid;
  }

  #sb_instagram {
    padding-top: 24px;
    font-family: $base-font-family;
  }

  .post-inner {
    padding-top: 5rem;
  }

  .danslokalen_dansband {
    .card {
      border: 0px;
      margin-bottom: 6rem;

      .card-img, .card-img-top {
        max-height: 180px;
        width: auto;
        text-align: center;
        margin: auto;
      }

      .card-body {
        .card-title {
          margin: 20px 0 0 0;
          padding: 0px;
          font-size: 1.4em;
        }

        .card-text {
          .danslokalen_dansband-contact {
            ul {
              margin: 0px;
              li.media {
                margin: 0px;

                .media-svg {
                  width: 30px;
                }
              }
            }
          }
        }
      }
    }
  }

}

.single-danslokalen_underv {

  h4 {
    padding-top: 0px;
  }

  .vimeo-player {

  }

  .spotify-list {

  }

  .user-comments {

  }

  .add-comments {
    .wp-editor-tools, .quicktags-toolbar {
      display: none !important;

    }
  }

  .mce-toolbar .mce-ico {
    color: $color-danslokalen-light;
  }

}

.forminator-input, .forminator-input:hover, .forminator-input:focus, .forminator-input:active, .forminator-multiselect, .forminator-textarea {
  background-color: $color-danslokalen-light !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem;
}

.forminator-success {
  background-color: $color-danslokalen-lightgrey !important;
  box-shadow: inset 2px 0 0 0 $color-danslokalen-success !important;
  color: $color-danslokalen-success !important;
}
