@charset "UTF-8";
/*
 Theme Name:           danslokalen-20ct
 Theme URI:            http://danslokalen.se/
 Description:          A child theme of Twenty Twenty WordPress theme.
 Author:               Karl Lettenström
 Author URI:           https://kprl.se
 Template:             twentytwenty
 Version:              1.1.0
 License:              GNU General Public License v2 or later
 License URI:          http://www.gnu.org/licenses/gpl-2.0.html
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
} 

body:not(.overlay-header) .primary-menu li .icon {
  color: #ffffff !important;
}

@media (min-width: 1220px) {
  body h1, body .heading-size-1 {
    font-size: 6.4rem;
  }
}

body .frontpage-cover-block {
  position: absolute;
  top: 50%;
  z-index: 1;
}

body .frontpage-cover-block .frontpage-valkomsttext {
  margin: -100px auto 0px auto;
  width: 100%;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.5);
  padding: 40px;
  border-radius: 5px;
}

body .frontpage-cover-block .frontpage-valkomsttext p {
  line-height: 1.4;
}

body .frontpage-cover-block .frontpage-valkomsttext a {
  color: #ee6059 !important;
}

body .frontpage-cover-block .frontpage-logotyp {
  margin-top: -100px;
  padding-left: 100px;
}

body .frontpage-cover-block .frontpage-logotyp img {
  max-height: 200px;
  width: auto;
}

@media (min-width: 1025px) {
  body .frontpage-cover-block .frontpage-valkomsttext {
    margin: -20px auto 0px auto;
    width: 70%;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 1px;
    background: none;
    padding: 0px;
  }
  body .frontpage-cover-block .frontpage-valkomsttext p {
    line-height: 1.4;
  }
  body .frontpage-cover-block .frontpage-valkomsttext a {
    color: #ee6059 !important;
  }
  body .frontpage-cover-block .frontpage-logotyp {
    margin-top: -150px;
    padding-left: 50px;
  }
  body .frontpage-cover-block .frontpage-logotyp img {
    max-height: 300px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  body .frontpage-cover-block .frontpage-valkomsttext {
    margin: -20px auto 0px auto;
    width: 80%;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  body .frontpage-cover-block .frontpage-valkomsttext p {
    line-height: 1.4;
  }
  body .frontpage-cover-block .frontpage-valkomsttext a {
    color: #ee6059 !important;
  }
  body .frontpage-cover-block .frontpage-logotyp {
    margin-top: -150px;
    padding-left: 50px;
  }
  body .frontpage-cover-block .frontpage-logotyp img {
    max-height: 300px;
    width: auto;
  }
}

@media (min-width: 1500px) {
  body .frontpage-cover-block .frontpage-valkomsttext {
    margin: -75px auto 0px auto;
    width: 60%;
    font-size: 1.55em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  body .frontpage-cover-block .frontpage-valkomsttext p {
    line-height: 1.4;
  }
  body .frontpage-cover-block .frontpage-valkomsttext a {
    color: #ee6059 !important;
  }
  body .frontpage-cover-block .frontpage-logotyp {
    margin-top: -250px;
    padding-left: 100px;
  }
  body .frontpage-cover-block .frontpage-logotyp img {
    max-height: 500px;
    width: auto;
  }
}

#site-header {
  background-color: #2c3e50 !important;
}

#site-header a, #site-header .site-description, #site-header .toggle-text, #site-header.toggle, #site-header body:not(.overlay-header) .primary-menu > li > a, #site-header body:not(.overlay-header) .primary-menu > li > .icon {
  color: #ffffff !important;
}

#site-header .search-field {
  color: #ffffff !important;
}

#site-header .current-menu-item a {
  color: #ee6059 !important;
}

#site-header .current-menu-item .sub-menu .current-menu-item a {
  color: #ee6059 !important;
}

#site-header .current-menu-item .sub-menu a {
  color: #ffffff !important;
}

#site-header .primary-menu li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 90%;
}

#site-header .primary-menu li .sub-menu a {
  font-weight: 300;
  text-transform: none;
}

.home #site-header {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: transparent !important;
}

.home #site-header:hover {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #2c3e50 !important;
}

.content-area .entry-header, #site-content .entry-header {
  padding: 5em 0 2em !important;
}

@media (max-width: 768px) {
  .content-area .entry-header, #site-content .entry-header {
    padding: 3em 0 1.3em !important;
  }
}

.content-area .entry-content, #site-content .entry-content {
  font-family: "Inter", sans-serif;
}

.content-area .entry-content p, .content-area .entry-content ol, .content-area .entry-content ul, .content-area .entry-content dl, .content-area .entry-content dt, #site-content .entry-content p, #site-content .entry-content ol, #site-content .entry-content ul, #site-content .entry-content dl, #site-content .entry-content dt {
  font-family: "Inter", sans-serif;
}

.content-area .entry-content h5, #site-content .entry-content h5 {
  margin: 5.5rem auto 1.5rem;
}

.content-area .entry-content h3 a::before, .content-area .entry-content h4 a::before, .content-area .entry-content h5 a::before, .content-area .entry-content h6 a::before, #site-content .entry-content h3 a::before, #site-content .entry-content h4 a::before, #site-content .entry-content h5 a::before, #site-content .entry-content h6 a::before {
  content: '';
  display: block;
  height: 45px;
  margin-top: -45px;
  visibility: hidden;
}

.content-area .entry-content .ingress, #site-content .entry-content .ingress {
  margin-top: -5rem;
  font-weight: 400;
  text-align: center;
}

.content-area .wp-block-cover, #site-content .wp-block-cover {
  margin-top: -10rem;
}

.content-area .color-accent, .content-area .has-accent-color, .content-area .wp-block-button.is-style-outline, .content-area a, #site-content .color-accent, #site-content .has-accent-color, #site-content .wp-block-button.is-style-outline, #site-content a {
  color: #2c3e50;
}

.content-area .color-accent:focus, .content-area .color-accent:hover, .content-area .has-accent-color:focus, .content-area .has-accent-color:hover, .content-area .wp-block-button.is-style-outline:focus, .content-area .wp-block-button.is-style-outline:hover, .content-area a:focus, .content-area a:hover, #site-content .color-accent:focus, #site-content .color-accent:hover, #site-content .has-accent-color:focus, #site-content .has-accent-color:hover, #site-content .wp-block-button.is-style-outline:focus, #site-content .wp-block-button.is-style-outline:hover, #site-content a:focus, #site-content a:hover {
  color: #ee6059 !important;
}

.content-area button:not(.toggle), .content-area .button, .content-area .faux-button, .content-area .wp-block-button__link, .content-area .wp-block-file .wp-block-file__button, .content-area input[type="button"], .content-area input[type="reset"], .content-area input[type="submit"], .content-area .bg-accent, .content-area .bg-accent-hover:hover, .content-area .bg-accent-hover:focus, .content-area .has-accent-background-color, .content-area .comment-reply-link,
.content-area button, .content-area .single_add_to_cart_button, #site-content button:not(.toggle), #site-content .button, #site-content .faux-button, #site-content .wp-block-button__link, #site-content .wp-block-file .wp-block-file__button, #site-content input[type="button"], #site-content input[type="reset"], #site-content input[type="submit"], #site-content .bg-accent, #site-content .bg-accent-hover:hover, #site-content .bg-accent-hover:focus, #site-content .has-accent-background-color, #site-content .comment-reply-link,
#site-content button, #site-content .single_add_to_cart_button {
  color: #ffffff !important;
  background-color: #2c3e50 !important;
}

.content-area button:not(.toggle):focus, .content-area button:not(.toggle):hover, .content-area .button:focus, .content-area .button:hover, .content-area .faux-button:focus, .content-area .faux-button:hover, .content-area .wp-block-button__link:focus, .content-area .wp-block-button__link:hover, .content-area .wp-block-file .wp-block-file__button:focus, .content-area .wp-block-file .wp-block-file__button:hover, .content-area input[type="button"]:focus, .content-area input[type="button"]:hover, .content-area input[type="reset"]:focus, .content-area input[type="reset"]:hover, .content-area input[type="submit"]:focus, .content-area input[type="submit"]:hover, .content-area .bg-accent:focus, .content-area .bg-accent:hover, .content-area .bg-accent-hover:hover:focus, .content-area .bg-accent-hover:hover:hover, .content-area .bg-accent-hover:focus:focus, .content-area .bg-accent-hover:focus:hover, .content-area .has-accent-background-color:focus, .content-area .has-accent-background-color:hover, .content-area .comment-reply-link:focus, .content-area .comment-reply-link:hover,
.content-area button:focus,
.content-area button:hover, .content-area .single_add_to_cart_button:focus, .content-area .single_add_to_cart_button:hover, #site-content button:not(.toggle):focus, #site-content button:not(.toggle):hover, #site-content .button:focus, #site-content .button:hover, #site-content .faux-button:focus, #site-content .faux-button:hover, #site-content .wp-block-button__link:focus, #site-content .wp-block-button__link:hover, #site-content .wp-block-file .wp-block-file__button:focus, #site-content .wp-block-file .wp-block-file__button:hover, #site-content input[type="button"]:focus, #site-content input[type="button"]:hover, #site-content input[type="reset"]:focus, #site-content input[type="reset"]:hover, #site-content input[type="submit"]:focus, #site-content input[type="submit"]:hover, #site-content .bg-accent:focus, #site-content .bg-accent:hover, #site-content .bg-accent-hover:hover:focus, #site-content .bg-accent-hover:hover:hover, #site-content .bg-accent-hover:focus:focus, #site-content .bg-accent-hover:focus:hover, #site-content .has-accent-background-color:focus, #site-content .has-accent-background-color:hover, #site-content .comment-reply-link:focus, #site-content .comment-reply-link:hover,
#site-content button:focus,
#site-content button:hover, #site-content .single_add_to_cart_button:focus, #site-content .single_add_to_cart_button:hover {
  background-color: #ee6059 !important;
  color: #ffffff !important;
  border: none;
  text-decoration: none;
}

.content-area #sb_instagram a:hover, #site-content #sb_instagram a:hover {
  color: #ffffff !important;
}

.content-area #sb_instagram .sb_instagram_header a:hover, #site-content #sb_instagram .sb_instagram_header a:hover {
  color: #2c3e50 !important;
}

.content-area .woocommerce .col2-set .col-1, .content-area .woocommerce-page .col2-set .col-1,
.content-area .woocommerce .col2-set .col-2, .content-area .woocommerce-page .col2-set .col-2, #site-content .woocommerce .col2-set .col-1, #site-content .woocommerce-page .col2-set .col-1,
#site-content .woocommerce .col2-set .col-2, #site-content .woocommerce-page .col2-set .col-2 {
  max-width: none !important;
}

.content-area .woocommerce form .form-row label, .content-area .woocommerce-page form .form-row label,
.content-area .woocommerce-input-wrapper, #site-content .woocommerce form .form-row label, #site-content .woocommerce-page form .form-row label,
#site-content .woocommerce-input-wrapper {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .content-area .woocommerce-product-gallery, .content-area .product .summary, #site-content .woocommerce-product-gallery, #site-content .product .summary {
    margin-bottom: 5rem;
  }
}

.content-area section.related.products, #site-content section.related.products {
  width: 100%;
  display: inline-block;
}

.content-area .woocommerce-error, #site-content .woocommerce-error {
  color: #dc3545;
  border-top: 2px solid #dc3545;
  background: #eeeeee;
}

.content-area .woocommerce-error li, #site-content .woocommerce-error li {
  width: 100%;
  margin: 0px;
}

.content-area .woocommerce-error li button, #site-content .woocommerce-error li button {
  float: right;
}

.content-area .woocommerce-message, #site-content .woocommerce-message {
  color: #2c3e50;
  border-top: 2px solid #2c3e50;
}

.content-area .woocommerce-info, #site-content .woocommerce-info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.content-area .added_to_cart, #site-content .added_to_cart {
  color: #17a2b8;
  padding: 10px;
  width: 100%;
  margin-top: 10px !important;
}

.content-area .added_to_cart:hover, #site-content .added_to_cart:hover {
  color: #c7cdd2;
}

.content-area .woocommerce-tabs ul, #site-content .woocommerce-tabs ul {
  display: none;
}

.content-area .woocommerce-tabs ul li.active a, #site-content .woocommerce-tabs ul li.active a {
  color: #2c3e50 !important;
}

.content-area .woocommerce-MyAccount-navigation-link--downloads, #site-content .woocommerce-MyAccount-navigation-link--downloads {
  display: none;
}

.content-area .woocommerce-MyAccount-content .woocommerce, #site-content .woocommerce-MyAccount-content .woocommerce {
  padding: 0px;
}

.content-area .wc_payment_method .payment_box, #site-content .wc_payment_method .payment_box {
  background: #fff;
}

.content-area .product_meta, #site-content .product_meta {
  display: -ms-inline-grid;
  display: inline-grid;
}

.content-area #sb_instagram, #site-content #sb_instagram {
  padding-top: 24px;
  font-family: "Inter", sans-serif;
}

.content-area .post-inner, #site-content .post-inner {
  padding-top: 5rem;
}

.content-area .danslokalen_dansband .card, #site-content .danslokalen_dansband .card {
  border: 0px;
  margin-bottom: 6rem;
}

.content-area .danslokalen_dansband .card .card-img, .content-area .danslokalen_dansband .card .card-img-top, #site-content .danslokalen_dansband .card .card-img, #site-content .danslokalen_dansband .card .card-img-top {
  max-height: 180px;
  width: auto;
  text-align: center;
  margin: auto;
}

.content-area .danslokalen_dansband .card .card-body .card-title, #site-content .danslokalen_dansband .card .card-body .card-title {
  margin: 20px 0 0 0;
  padding: 0px;
  font-size: 1.4em;
}

.content-area .danslokalen_dansband .card .card-body .card-text .danslokalen_dansband-contact ul, #site-content .danslokalen_dansband .card .card-body .card-text .danslokalen_dansband-contact ul {
  margin: 0px;
}

.content-area .danslokalen_dansband .card .card-body .card-text .danslokalen_dansband-contact ul li.media, #site-content .danslokalen_dansband .card .card-body .card-text .danslokalen_dansband-contact ul li.media {
  margin: 0px;
}

.content-area .danslokalen_dansband .card .card-body .card-text .danslokalen_dansband-contact ul li.media .media-svg, #site-content .danslokalen_dansband .card .card-body .card-text .danslokalen_dansband-contact ul li.media .media-svg {
  width: 30px;
}

.single-danslokalen_underv h4 {
  padding-top: 0px;
}

.single-danslokalen_underv .add-comments .wp-editor-tools, .single-danslokalen_underv .add-comments .quicktags-toolbar {
  display: none !important;
}

.single-danslokalen_underv .mce-toolbar .mce-ico {
  color: #f5f5f5;
}

.forminator-input, .forminator-input:hover, .forminator-input:focus, .forminator-input:active, .forminator-multiselect, .forminator-textarea {
  background-color: #f5f5f5 !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem;
}

.forminator-success {
  background-color: #eeeeee !important;
  -webkit-box-shadow: inset 2px 0 0 0 #28a745 !important;
  box-shadow: inset 2px 0 0 0 #28a745 !important;
  color: #28a745 !important;
}
