// COLORS
$color-danslokalen-main:           #2c3e50;
$color-danslokalen-second:         #f7f3ef;
$color-danslokalen-complement:     #ee6059; //#f55152; //#FF5A5A
$color-danslokalen-opa-white:      rgba(255, 255, 255, 0.50);
$color-danslokalen-opa-lightgrey:  rgba(250, 249, 249, 0.95);
$color-danslokalen-light:          #f5f5f5;
$color-danslokalen-dark:           #2b303b;
$color-danslokalen-darker:         #181818;
$color-danslokalen-black:          #000000;
$color-danslokalen-grey:           #c7cdd2;
$color-danslokalen-lightgrey:      #eeeeee;
$color-danslokalen-sandbeige:      #eae6de;
$color-danslokalen-beige:          rgba(234, 233, 210, 1);
$color-danslokalen-opa-beige:      rgba(190, 190, 190, 0.3);
$color-danslokalen-warning:        #ffc107;
$color-danslokalen-info:           #17a2b8;
$color-danslokalen-success:        #28a745;
$color-danslokalen-danger:         #dc3545;

// TEXT
$font-weight-light:    300;
$font-weight-regular:  500;
$font-weight-bold:     600;
$font-weight-bolder:   700;
$font-weight-heavy:    800;

$font-size-xx-small:   10px;
$font-size-x-small:    11px;
$font-size-small:      14px;
$font-size-regular:    16px;
$font-size-large:      20px;
$font-size-x-large:    24px;
$font-size-xx-large:   34px;
$font-size-xxx-large:  40px;
$font-size-mega:       80px;

$text-color:        $color-danslokalen-dark;
$base-font-size:    $font-size-regular;
$base-font-family:  'Inter', sans-serif;
$base-font-weight:  $font-weight-regular;
$base-line-height:  1.6;

// RESOLUTIONS
$mobile-small:    240px;
$mobile-large:    320px;
$mobile-iphoneX:  812px;
$tablet-small:    480px;
$tablet-large:    768px;
$screen-small:    1024px;
$screen-large:    1280px;

// MISC
$base-transition-time:     0.2s;
$header-footer-overlap:    3rem;
$header-footer-border:     1px solid $color-danslokalen-grey;
